#main {
  font: 14px/21px "DIN Next Arabic W23","HelveticaNeue-Light", Arial, sans-serif;
  color: #2e3436;
}

.about{
  background-image: url('{{ site.baseurl }}/img/circles.png');
  background-color: #73d216;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;
  text-align: center;
}
.about h2 {
  color: #FFFFFF;
  font-weight: 300;
  padding-top: 20px;
}

.about .logo {
  max-width: 500px !important;
  padding: 1em;
  width: 100%;
}

.about .section {
  color: white;
}

.btn-white {
  color: #ffffff !important;
}

.col-grey {
  background-color: #ccc;
  color: white;
  max-height: 238px !important;
}

.grey {
  background-color: #ccc;
  color: white;
}
.col-grey p {
  font-size: 18px;
  margin: 15px;
  line-height: 1.33;
}

.img-repeat {
  background-image: url('{{ site.baseurl }}/img/dots.png');
  background-repeat: repeat-x;
  background-position: left top;
  height: 20px;
}
.media-object {
  max-width: inherit !important;
}
.media-body h4{
  padding: 0;
  text-align: left;
  margin: 0;
}
.fa-circle{
  color: grey !important;
}
form input, #navigation-table{
  width: 100% !important;
}
.green-sqr{
  color: white;
  background-color: #73d216;
  font-weight: bold;
  font-size: 25px;
  min-height: 120px;
  text-align: center;
}
.white{ color: #ffffff; }

@media (min-width: 768px) {
  .navbar-fixed-top {
      padding: 25px 0;
      transition: padding 0.3s ease 0s;
  }
  .navbar-fixed-top .navbar-brand {
      font-size: 2em;
      transition: all 0.3s ease 0s;
  }
  .navbar-fixed-top.navbar-shrink {
      padding: 10px 0;
  }
  .navbar-fixed-top.navbar-shrink .navbar-brand {
      display: block;
      font-size: 1.5em;
  }
}
.navbar {
    font-weight: 700;
    text-transform: uppercase;
}
.navbar a:focus {
    outline: medium none;
}
.navbar .navbar-nav {
    letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
    outline: medium none;
}
.navbar .navbar-brand {
    display: none;
}
.navbar-default, .navbar-inverse {
    border: medium none;
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0.2);
}
.navbar-default.navbar-shrink {
    background-color: #5AA411;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF;
}
